@use './_variables.scss';

@mixin pages-default {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: variables.$base-background-light;
}

@mixin flexbox-default {
    display: flex;
    justify-content: center;
    align-items: center;
}