//background-pages / texts:
$base-background-light: #EEEEEE;
$base-background-regular: #999999;
$base-background-regular: #666666;
$base-background-bold: #333333;
$base-yellow: #FFE600;

//components:
$background-btn: #3483FA;