@use './../styles/variables.scss';
@use './../styles/mixins.scss';

.breadcrumb {
    width: 80%;
    margin: 0 auto;

    ol {
        padding: 0;
        margin: 16px 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: auto;
        font-size: 14px;
        color: variables.$base-background-regular;
    }
}