@use './../styles/variables.scss';
@use './../styles/mixins.scss';

.search {

    width: 100%;
    display: flex;
    justify-content: center;
    gap:1px;

    @media (max-width: 768px) {
        width: auto;
    }
    
    input {
        width: 100%;
        text-decoration: none;
        border: none;
        padding: 5px;
        font-size: 16px;
        border-radius: 2px;
        outline: none;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

        &:focus {
            outline: 1px solid variables.$background-btn;
        }
    }

    button {
        border: none;
        padding: 5px 10px;
        border-radius: 0px 3px 3px 0px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        cursor: pointer;

        img {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}