@use './../styles/variables.scss';

.footer {
    background-color: variables.$base-yellow;
    padding: 10px 0;

    span {
        font-size: 12px;
        color: variables.$base-background-light;
        display: block;
        line-height: 15px;
        margin: 0;
    }
}