@use './../styles/variables.scss';
@use './../styles/mixins.scss';

.top {
    background-color: variables.$base-yellow;
    padding: 10px 0;

    .top_centralizer {
        @include mixins.pages-container;
        
        .logo {
            width: 10%;
            text-align: center;
        }

        .search_area {
            width: 90%;
        }
    }
}