@use './../styles/variables.scss';
@use './../styles/mixins.scss';

.top {
    background-color: variables.$base-yellow;
    padding: 10px 0;

    .top_centralizer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        
        .logo {
            width: 10%;
            text-align: center;
        }

        .search_area {
            width: 90%;
        }
    }
}